
<!-- <h4>
    Shop our huge selection of Women's clothing! Find the
    best fashion equipment and buy at best price your Women's clothing products.
    Fast shipping and secure payment at Dress_inn.
</h4> -->


<div class="container">
	<div class="row">
		<div class="col">
			<div class="weather-card one">
				<div class="top">
					<div class="wrapper">
						<h1 class="heading">Men's Clothing</h1>
						<p class="temp">
                            <button (click)="inToMen()" type="button" class="btn btn-light">View All Products</button>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="weather-card rain">
				<div class="top">
					<div class="wrapper">
						<h1 class="heading">Women's Clothing</h1>
						<p class="temp">
                            <button (click)="inToWomen()"  type="button" class="btn btn-light">View All Products</button>
						</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

